fastapi==0.111.0
uvicorn==0.29.0
langchain==0.2.6
langchain-community==0.2.6
langchain-google-genai==1.0.7
langchain-chroma==0.1.2
chromadb==0.5.3
pypdf==4.2.0
google-generativeai==0.7.2
python-dotenv==1.0.1
pydantic==2.7.4
langchain-text-splitters==0.2.2
tiktoken==0.7.0
